* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html{
    background:#031A28;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
}

img{
    vertical-align: baseline ;
}

.transparent {
    color: transparent !important;
}

.subtitleIcon{
    position: relative;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    margin-left: -36px;

}

.socialNetworkIcon{
    margin-top: 45px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input-group>.form-control{
    width: 0 !important;
}

.was-validated .form-control:valid, .was-validated .form-control:invalid{
    background-image: none;
}

.input-group-text {
    width: 30px;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: #E0E0E0;
    height: 100%;
}

.flexWrapper{
    display: flex;
    align-items: center;
}

.navbarWrapper {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navBackground {
    width: 100%;
    height: 30px;
    background-color: #031a28;
}

.optionsBarCore {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 30px;
    width: 100vw;
    max-width: 1300px;
    padding: 0 50px;
}

.consoleOption {
    display: flex;
    height: 100%;
    align-items: center;
}

.xboxLogoDiv {
    display: flex;
    align-items: center;
    padding:0 10px;
    height: 100%;
    cursor: pointer;
}
.xboxLogoDiv.active{
    background-color: green;
}

#xbox {
    height: 16px;

}

.ps4LogoDiv {
    display: flex;
    align-items: center;
    padding:0 10px;
    height: 100%;
    cursor: pointer;
    
}
.ps4LogoDiv.active{
    background: #003791;
}
#ps4 {
    height: 14px;
}

.withoutColor{
    background: none;
}


.rightSideOptions {
    display: flex;
    align-items: center;
    height: 30px;
}

.socialMidiaOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78px;
}

.socialMidiaOptions img {
    height: 14px;
}


.flagSelect,
.languageSelect {
    background-color: #031a28;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    padding: 0 10px;
}

.flagSelect:focus {
    box-shadow: none;
}

.selectFlag {
    width: 20px;
    margin: 0 5px 0 0;
}

.superior {
    background-color: #031a28;
    padding: 0;
    min-width: 160px;

}

.flagSelec,
.languageSelec {
    background-color: #031a28;
    color: white;
    padding: 4px 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
}

.greenCircleSeparator1 {
    height: 3px;
    padding: 0px 6px 0 15px;
}

.greenCircleSeparator2 {
    height: 3px;
    padding: 0px 6px 0 6px;
}

￼ #languageItem {
    min-width: 50px;
}

.language {
    padding: 0;
    background-color: #031a28;
}



.navBackground {
    width: 100%;
    background-color: #031a28;
}

.mainNavbarBackground {
    width: 100%;
    width: 100%;
    background-color: #0C2737;
    opacity: 0.9;
}

.mainNavbar {
    max-width: 1300px;
    height: 120px;
    background-color: transparent;
    margin: auto;
    padding: 0 50px;

}

.navbarLogo {
    height: 78px;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

@media (min-width: 992px) {
    .navLink {
        padding-right: 25px !important;
        padding-left: 25px !important;
    }

    .navLink:hover,
    .nav-link:active,
    .nav-link:focus {
    color: gray !important;
    }

}

.mainGreenButton {
    width: 100px;
    height: 40px;
    background-color: #1DA775;
    border: none;
    color: white;
    border-radius: 2px;

}

#navbarSupportedContent {
    margin: 0 auto;
}

.fixNavbarPosition {
    height: 150px;
    background-color: rgb(26, 26, 26);
}

.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1200;
    height: 480px;
    background: url(../images/index/backgroundImage.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contentContainer {
    margin: auto;
    padding-left: 180px;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 1300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
}

.textPresentation {
    width: 450px;
}

#aSuaComunidade {
    font-size: 38px;
    font-weight: 600;
    color: white;
    line-height: 20px;
    padding-left: 5px;
}

#proClubs {
    font-size: 76px;
    font-weight: 600;
    color: white;
    line-height: 60px;
}

.fifaLogo {
    margin-top: 15px;
    margin-bottom: 60px;
    width: 140px;
    padding-left: 5px;
}

#xboxHero {
    width: 80px;
    margin-left:30px; 
}

#ps4Hero {
    width: 95px;
}

.footballPlayers {
    position: relative;
    margin-top: 190px;

    height: 490px;
    width: 680px;
}

.bottomTextHeroContainer {
    width: 100%;
    height: 50px;
    padding: 0 180px;
    background: rgba(0, 0, 0, 0.6);
}

.bottomTextHero {
    margin-top: 8px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding-right: 8px;
}

.bottomTextHeroWrapper {
    display: flex;
    width: 950px;
    margin: auto;
}

.posHeroContainer {
    padding: 0 110px;
}

.posHeroWrapper {
    width: 1100px;
    margin: 60px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.maiorCamp {
    font-size: 38px;
    color: #0C2737;
}

.globalFutLogo {
    height: 340px;
}

.aboutProClubsContainer {
    width: 960px;
    display: flex;
    padding-top: 20px;
}

.aboutProClubs {
    padding-left: 25px;
}

.campeonatoPresencial {
    font-size: 28px;
    font-weight: 500;
    color: #0C2737;
}

.proClubs {
    font-size: 42px;
    font-weight: 700;
    line-height: 10px;
}

.infoWrapper{
    display: flex;
}

.dateContainer {
    padding-top: 25px;
}

.date {
    font-size: 28px;
    font-weight: 600;
    color: #DA622F;
    line-height: 20px;
}

.month{
    line-height: 0px;
    font-size: 17px;
    font-weight: 600;
}

.liveArenaContainer{
    margin-left: 45px;
    margin-top: 23px;
}

.liveArena{
    text-decoration: underline;
    font-size: 30px;
    font-weight: 600;
    color: #DA622F;
    line-height: 20px;
}

.adress, .adress2{
    line-height: 5px;
    font-weight: 600;

}

.features{
    margin-top: 30px;
    font-size: 15px;
}

.inscrevaSe{
    height: 40px;
    width: 180px;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 600;
}

.sponsorsContainer{
    display: flex;
    justify-content: space-between;

}

.sponsorsLogos{
   display: flex;
   margin-top:30px;
   align-items: center;
}

.aceCampus{
    height: 40px;   
    padding: 0 10px;
}

.futpress{
    height: 40px
}

.liveArena{
    height: 50px;
}

.confrontos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 420px;
}

.confrontosVersusContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003791;
    padding-top: 20px;
}
@media (max-width:1350px){
	
    .heroContainer{     
        height: 35vw;     
        min-height: 400px;     
    }
     
    .contentContainer{     
        padding-left: 5%;     
        height: 25vw;     
        width: 90vw;     
        min-height: 270px;     
    }     
     
    .footballPlayers{     
        width: 50vw;     
        height: auto;     
        margin-top: 15vw;     
    }
     
     
    .fifaLogo{     
        width: 10vw;   
        margin-bottom: 5vw;     
    }
     
     
    .textPresentation{     
        width: 40vw;     
        min-width: 400px;     
    }
     
     
    #aSuaComunidade{     
        font-size: 160%;     
    }
     
     
    #proClubs{     
        font-size: 70px;     
        line-height: 50%;     
    }
     
     
    .bottomTextHeroContainer{     
        padding: 0 1%;     
    }
     
     
    .bottomTextHeroWrapper{     
        width: 90%;     
        min-width: 400px;     
    }
     
     
    .maiorCamp{     
        font-size: 24px;     
    }
     
     
    .posHeroContainer{     
        padding: 0 5%;     
    }
     
    .posHeroWrapper{     
        width: 80vw;     
    }
     
    .aboutProClubsContainer{     
        width: 80vw;     
    }
     
     
    .globalFutLogo{     
       height: 30vw;     
    }
     
    .sponsorsContainer{     
        display: flex;     
        flex-direction: column;     
        align-items: center;     
    }
     
     
    .aboutProClubs{     
        padding: 0;     
        margin: auto;     
    }
     
     
    .campeonatoPresencial{     
        font-size: 20px;     
    }
     
     
    @media (max-width:1000px){       
        .footballPlayers{     
            display: none;     
        }     
        .bottomTextHero{     
            font-size: 3vw;     
        }    
     
        .bottomTextHeroWrapper{     
            display: flex;     
            align-items: center;     
        }
     
        .globalFutLogo{     
            display: none;     
         }     
     
         .maiorCamp{     
             width: 350px;     
         }
     
    }
     
 }
     
.confrontosImageContainer{
    background-image: url(../images/index/confrontosImage.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.confrontosTitle{
    font-size: 36px;
    color: white;
    opacity: 0.6;
    font-weight: 600;
}

.ligaCopaContainer{
    display: flex;
}
.confrontosLiga{
    margin-right: 260px;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.confrontosCopa{
    text-decoration: underline;
    color: #0B7BFF;;
    font-size: 24px;
    font-weight: 600;
}

.confrontosLinhaBranca{
    margin-top: 10px;
    margin-left: -300px;
}

.confrontosInfo{
    background-color: #002e77;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 260px;
}

.confrontoDateContainer{
    display: flex;
}

.confrontoDate, .confrontoTime{
    color: white;
    font-size: 18px;    
    margin-top: 20px;
    font-weight: 600;
}

.confrontoDate{
    margin-right: 30px;
}

.confrontoTeams, .Team1, .Team2{
    display: flex;
    align-items: center;
}

.confrontoTeams{
    margin-top:30px;
}

.confrontoWhiteX{
    width: 28px;
    height: 28px;
    margin: 0 20px;
}

.teamName, .teamName2{
    color: white; 
    font-weight: 600;
    line-height: 8px;
}

.firstTeamLogo, .secondTeamLogo{
    width: 125px;
    height: 125px;
}

.team1NameContainer, .team2NameContainer{
    width: 141px;
}

.team1NameContainer{
    display: flex;
    align-content: flex-end;
}

.confrontosVerTodos{
    margin-top: 20px;
    text-decoration: underline;
    color: #0B7BFF;
    font-weight: 600;
    cursor: pointer;
}
.participateContainer{
    width:100%;
    background: #F3F3F3;
}

.participateContentWraper{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 200px;
    justify-content: center;
    padding-top: 40px;
}

.participateIcon{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.participateNumber{
    font-size: 48px;
    font-weight: 600;
    color: #DA622F;
    line-height: 30px;
}

.section1, .section2, .section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.campeonatoStatus{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.participateDescription, .participateDescriptionBold{
    font-size: 14px;
    font-weight: 500;
    line-height: 5px;
}

.participateDescriptionBold{
    font-weight: 600;
}

.participateLink{
    font-size: 18px;
    font-weight: 600;
    color:  #1DA775;
    margin-top: 15px;
}

.proClubsVideoContainer{
    width: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F3F3;
}

.proClubsVideoWrapper{
    display: flex;
    align-items: center;
}

.proClubsVideoTitleWrapper{
    display:flex;
}

.voceSabe{
    font-size: 40px;
    color: #0C2737;
    line-height: 10px;
}

.proClubsVideoTitle{
    font-size: 72px;
    font-weight: 600;
    line-height: 75px;
}

.questionMark{
    font-size: 150px;
    color: #0C2737;
    opacity: 0.5;
    margin-left: 15px;
    line-height: 75px;
}

.VideoWrapper{
    width: 600px;
}

.footbalPlayerVideo{
    height: 610px;
}


.subscribeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 360px;
    background-image: url(../images/index/TacaAzulBg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.subscribeWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oProximoBolaDeOuro{
    color: white;
    font-size: 28px;
}

.subscribeGlobalFutProContainer{
    display: flex;
}

.subscribeGlobalFutPro{
    color:white;
    font-size: 86px;
    font-weight: 700;
    line-height: 50px;
}

.subscribePro{
    color:white;
    font-size: 86px;
    line-height: 50px;
}

.oBola{
    height: 65px;
    margin-top: -6px;
}

.podeSerVoce{
    color: white;
    font-size: 28px;
    line-height: 60px;
}

.subscribeButton{
    height: 48px;
    width: 180px;
    background: white;
    border-radius: 2px;
    color:#003791;
    font-size: 18px;
    font-weight: 600;
    border: none;

}

.destaquesContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destaquesWrapper{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

.nossosDestaques{
    font-size: 56px;
    font-weight: 600;
    color: #031a28;
    line-height: 80px;
}

.conhecaDestaques{
    font-size: 28px;
    color: grey;
    line-height: 10px;
}

.destaquesCardsWrapper{
    display: grid;
    grid-template-columns: repeat(4, 230px);
    grid-template-rows: 310px;
    grid-column-gap: 26px;
    margin-top: 50px;
}

.logoPs4Card{
    height: 14px;
    margin: 20px 15px;
}

.cardDestaque1{
    background-image: url(../images/index/BottomCardPs4Woman.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardDestaque2{
    background-image: url(../images/index/BottomCardPs4Nike.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardDestaque3{
    background-image: url(../images/index/BottomCardPs4Goalkeeper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardDestaque4{
    background-image: url(../images/index/BottomCardPs4FootballShoes.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottomCardWrapper{
    margin-top: 100px;
}

.cardPosicaoWrapper{
    padding: 10px 10px;
    height: 40px;
    width: 100%;
    background: #0C2737;
    opacity: 0.6;
   
    margin-top: 50px;
}

.cardNomeJogadorWrapper{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background: #0C2737;
    height: 40px;
   
    color: white;
}
.cardNomeJogador{
    width:135px;
    padding: 10px 10px;
}
.cardPosicao{
    position: relative;
    top: 82px;
    color: white;
    font-size: 14px;
    z-index: 999;
    padding: 0 10px;
}

.cardJogadorNumberWrapper{
    width: 60px;
    color: white;
    font-size: 18px;
    background: #003791;
    
}

.cardJogadorNumberWrapper{
    display: flex;
    justify-content: center;
    padding: 8px 8px;
    height: 40px;
}

.socialMediaIconsContainer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1000px;
    padding:20px 400px;
    padding-bottom: 30px;
    

}

.socialMediaIconsContainer a{
    height: 50px;
}

.footerContainer{
    width: 100%;
    height: 400px;
    background: #031A28;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerWrapper{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 300px;
    display: flex;
    margin-top: 70px;
}

.bottomFutProLogo{
    width: 104px;
    height: 126.75px;
}

.footerTitle{
    font-size: 18px;
    font-weight: 600;
    color: #1DA775;
}

.footerList, .footerList li{
    list-style-type: none;
    margin:0;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 35px;
}
.footerSponsorsLogoContainer{
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerSponsorsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.footerSponsorsWrapperLast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-top: 20px;
}

.liveArenaFooter{
    width: 164px;
}

.inovaSportsFooter{
    width: 100px;
}

.xtremeFooter{
    width: 60px;
}

.futpressFooter{
    width: 90px;
    height: 40px;
}

.aceCampusFooter{
    width: 70px;
}

.footerHr{
    width: 1200px;
    border: 0.5px solid rgb(214, 212, 212);
    opacity: 0.1;
}

.copyrightWrapper p{
    font-weight: 500;
    color: #999999;
    margin-bottom: 30px;
}

.socialIconsDivision{
    width:1000px;
    border: 0.5px solid rgb(214, 212, 212);
}

/* PÁGINA CADASTRO --------------------------------------------------------------------------------------------*/

.cadastroBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUpMainContentWrapper{
    width: 1100px;
    height: auto;
    background-image: url(../images/signUp/footballPlayerSignUp.jpg);
    background-repeat: no-repeat;
    background-size: 490px;
    background-position: 600px 100px;
    overflow: visible;
}

.crieSuaContaTitleContainer{
    margin-top: 50px;
    width: 1000px;
}
.idiomaWrapper{
    display: flex;    	
    justify-content: space-between;    
    margin-top: 30px;    
    width: 720px;    
}

    	
.idiomaSelect {    
    width: 200px;    
}
    	
    
.footballPlayerCadastro{
    position: relative;
}
.crieSuaConta{
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

.preenchaOsDados{
    font-size: 18px;
}

.informacoesPessoaiscontainer{
    width: 1000px;
    margin-top: 20px;
}

.profilePhotoContainer{
    display: flex;
    margin-top: 20px;
}

.profilePhotoWrapper{
    width: 60px;
    height: 60px;
    background-color: #1DA775;
    border-radius: 100%;
}

.input, .input:focus{
    background: #E0E0E0;
    border-radius: 2px;
    height: 40px;
    border-style:solid;
    border: 1px solid transparent;
    padding-left: 10px; 
}

.inputDisabled{
   opacity: 0.5; 
}

.label{
    font-weight: 500;
    font-size: 14px;
    line-height: 0px;
}

.labelDisabled{
    opacity: 0.3   ;
}

.selecionePhotoContainer{
    margin-left: 10px;
}

.selecioneImagemWrapper{
    display: flex;
}

.selecioneImagemInput{
    width: 590px;
}

.procurar{
    position: relative;
    width: 110px;
    left: -110px;
}

.NomeCompleto{
    margin-top: 20px;
}

.nomeCompleto{
    width: 660px;
}

.cpfGeneroNascWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 720px;
}

.warningWrapper{
    display: flex;
    height: 30px;
}

.cpfInput{
    width: 310px;
}

.generoSelect{
    width: 150px;
}

.dataNascInputWrapper{
    display: flex;
}

.dataNascIcon{
    position: relative;
    left: -60px;
    top: 22px;
    height: 30px;
}

.dataNascInput{
    width: 160px;
} 

.birthDayDateICon{
    position: relative;
    margin-left: -60px;
    margin-top: 15px;
}

.email, .confirmarEmail{
    margin-top: 30px;
}

.emailInput, .confirmarEmailInput{
    width: 660px;
}

.telefoneCelular{
    margin-top: 30px;
}

.telefoneCelularWrapper{
    width: 340px;
    display: flex;
    justify-content: space-between;
}
.dddInput{
    width:80px;
}

.numeroInput{
    width: 240px;

}

.enderecoContainer{
    margin-top: 40px;
    width: 1000px;
}

.cepWrapper{
    display: flex;
}

.cep{
    margin-top: 20px;
}

.cepInput{
    width: 320px;
}

.cepIcon{
    position: relative;
    top: 42px;
    left: -35px;
    height: 30px;
}

.enderecoWrapper{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-top: 30px;
}

.enderecoInput{
    width: 830px;
}

.inputDisabledDarker:disabled{
    background: #828282;
}

.numeroCasaInput{
    width: 150px;
}

.complementoWarapper, .estadoWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;   
}

.complementoInput, .bairroInput{
    width: 490px;
}

.estadoInput, .cidadeInput, .paisInput {
    width: 320px;
} 

.redesSociaisContainer{
    margin-top: 40px;
    margin-bottom: 40px;
}

.redeSociaisLabel{
    margin-top: 30px;
}

.redesSociaisInput{
    width: 660px;
}

.segurancaTitle{
    font-size: 24px;
    font-weight: 600;
    margin-top: 40px;
}

.crieUmaSenhaLabel{
    margin-top: 20px;
}

.senhaInput{
    width: 490px;
    margin-bottom: 10px;
}

.instrucoesSenha{

    font-size: 11px;
    line-height: 2px;
}

.digiteSuaSenhaWrapper{
    display: flex;
}

.passwordEyeIcon{
    height: 30px;
    position: relative;
    top: 41px;
    right: 40px;
}

.confirmPasswordEyeIcon{
    height: 30px;
    position: relative;
    top: 51px;
    right: 40px;
}

.confirmeASenhaLabel{
    margin-top: 30px;
}

.segurancaContainer hr{
    margin-top: 40px;
}

.segurancaContainer button{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.liEConcordoContainer{
    margin-top: 40px;
    height: 20px;
}
.liEConcordoContainer{
    font-size: 18px;
    font-weight: 600
}

.greenTextLink{
    color: #1DA775;
    text-decoration: underline;
}


/* PÁGINA LOGIN --------------------------------------------------------------------------------------------*/

#ps4LogoDivLoginDisableBgColor{
    background: none;
    display: flex;
    align-items: center;
    padding:0 10px;
    height: 100%;
    cursor: pointer;
}

.mainGreenButton:disabled{
    background-color: rgb(35, 94, 72)
}

.loginContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}

.loginTitle{
    width: 100%;
    margin: 30px 0 0 0;
    font-size: 36px;
    font-weight: 600;
}

.userLoginInput, .userLoginInput:focus{
    width: 360px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.loginUserInputIcon{
    position: relative;
    top: 50px;
    left: 12px;
}

.liginPasswordInputWrapper{
    display: flex;
}

.passwordLoginInput, .passwordLoginInput:focus{
    width: 360px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 45px;
    margin-top: -15px;
}   

.loginPasswordInputIcon{
    position: relative;
    top: 35px;
    left: 12px;
}

.loginPasswordInputEyeIcon{
    position: relative;
    top:35px;
    left: 290px;
}


.loginButton{
    width: 100%;
    height: 48px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
}

.loginHr{
    width: 100%;
    margin-bottom: 20px;
}

.naoLembraSuaSenha{
    font-size: 14px;
    font-weight: 500;
    line-height: 0;
}

.cliqueAquipararecuperar{
    font-size: 14px;
    font-weight: 600;
    line-height: 0;
    text-decoration: underline;
    color: #1DA775;
    margin-bottom: 50px;
}

.cliqueParaSeCadastrarWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    border: 2px solid #DA622F;
    border-radius: 1px;
}

.aindaNaoTemAsuaConta{
    font-size: 14px;
    line-height: 5px;
    font-weight: 500;
    margin-top: 15px;
}

.cliqueParaSeCadastrar{
    font-size: 18px;
    text-decoration: underline;
    font-weight: 600;
    line-height: 10px;
    color: #DA622F;
}



/* PÁGINA EQUIPES --------------------------------------------------------------------------------------------*/

.teamsHeroContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-image: url(../images/teamPage/teamHeroImage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.teamsHeroWrapper{
    width: 1000px;
}

.teamsHomeTitle{
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
    line-height: 0;

}

.teamsHeroTitle{
    font-size: 64px;
    font-weight: 600;
    color: white;
    line-height: 60px;
    margin-left: -5px;
}

.ps4LogoTeamsHero{
    width: 240px;
    margin-left: -15px;
}

.teamsRankingContainer{
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.top3Container{
    width: 1000px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}

.teamsTop3Container{
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 320px;
    height: 360px;
    padding: 20px 40px;
    border: 1px solid #E0E0E0;
}

.teamInfoContainer{
    display: flex;
    justify-content: space-between;
    width: 270px;	
 }
     
     
 .top3InfoContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60px;
    margin-top: 20px;
 }
     
 .infoNumber{
    font-size: 26px;
    color: white;
    font-weight: 600;
    line-height: 20px;
 }
     
 .teamsDescriptionText{
    font-size: 12px;
    line-height: 0;
    font-weight: 600;
 }
     
 .teamsUserInfoContainer{
    position: relative;
    height: 60px;
    width: 318px;
    background-color: #ffffff;
    margin-top: 3px;
 }
     
 .top3usericon{
    width: 100%;
    height: auto;
 }
 .teamsUserInfoContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 25px;
 
 }
     
 .teamsUserProfilePhoto{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: transparent;
    margin-right: 10px;
    overflow: hidden;
 }
     
 .teamsUserName{
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 0;
}
.teamsFirstPlace{
    background-color: #D2BA7E;
}
.teamsSecondPlace{
    background-color: #CC9C91;
    
}
    	
    	
.teamsThirdPlace{

    background-color: #9C91A7;
    
}

.rankPositionAndNameWrapper{
    display: flex;
    width: 260px;
    color: white;
    align-items: center;
    margin-bottom: 10px;
}

.position{
    font-size: 26px;
    font-weight: 600;
    margin-right: 15px;
}

.blackPipeSeparator{
    color: black;
    margin-right: 15px;

}

.teamsRankingTeamName{
    font-weight: 500;
    font-size: 20px;
}

.teamPointsWrapper{
    display: flex;
    align-items: center;
}

.teamPoints, .teamsPontosText{
    margin: 0 5px 0 0;
    font-size: 16px;
}

.rankingListWrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.rankingListContainer {
    border: 1px solid #E0E0E0;
    margin: 0;
    padding: 0;
    width: 1000px;
}

.rankingItemPlayer {
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    height: 60px;
    width: 100%;
}

.rankingPosition {
    display: flex;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    width: 40px;
    justify-content: flex-end;
    padding: 0 8px 0 0;
    border-right: 2px solid #0c2737;
}

.rankingTeamLogo {
    margin-left: 10px;
    width: 24px;
}

.rankingUserIcon {
    margin-left: 20px;
    width: 40px;
}

.rankingUserImage {
    border-radius: 100%;
    height: 36px;
    margin: 0 10px;
    width: 36px;
}

.rankingTeamName {
    align-items: center;
    display: flex;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    width: 174px;
    margin-left: 15px;
    margin-right: 20px;
}

.rankingCenterDot {
    color: #DA622F;
    font-size: 30px;
    width: 15px;
}

.rankingUserWrapper {
    display: flex;
    flex-direction: column;
    width: 133px;
}

.rankingUserName {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
}

.rankingUserClass {
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.rankingUserTitulos {
    background: url(../images/teamPage/titulos.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
}

.rankingSeparatorBarTitulos {
    border-bottom: 1px solid #0C2737;
    margin: 0 0 3px 0;
    width: 37px;
}

.rankingSeparatorBarVitorias {
    border-bottom: 1px solid #0C2737;
    margin: 0 0 3px 0;
    width: 41px;
}

.rankingSeparatorBarEmpates {
    border-bottom: 1px solid #0C2737;
    margin: 0 0 3px 0;
    width: 41px;
}

.rankingSeparatorBarDerrotas {
    border-bottom: 1px solid #0C2737;
    margin: 0 0 3px 0;
    width: 48px;
}

.rankingNumbersLabel {
    font-size: 9px;
}

.rankingNumeroDeTitulos {
    color: #0c2737;
    font-size: 18px;
    font-weight: 600;
    display: flex;
}

.styledDivForName {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 75px;
}

.rankingNumberPoints {
    font-size: 20px;
    font-weight: 600;
    padding-right: 5px;
    text-align: right;
    width: 100px;
}

.rankingTextPoints {
    font-size: 10px;
    position: relative;
    top: 1px;
}

/* PÁGINA CRIE SEU JOGADOR --------------------------------------------------------------------------------------------*/
.navbarProfileOptionsContainer{
    display: flex;
 }
     
 .navBarProfileDropdownContainer{
    display: flex;	
    align-items: center;	
 }
         
 .profileDropdown{	
    background-color: #0C2737;	
    border:none;	
 }
     
     
 .show>.btn-secondary.dropdown-toggle:focus{
    box-shadow: none;	
    transition: none;	
    border: none;	
 }
         
 .btn-secondary:hover{	
    border: none;   
     
 }	
     
 .profileDropdown:hover{
  background: #0C2737;
     
 }
         
 .profileDropdown{
    border: none;
 }
             
 .dropdown-toggle::after{	
    color: #1DA775	
 }
     
     
 .show > .btn-secondary.dropdown-toggle, .show > .btn-secondary.dropdown-toggle:hover{	
    background: none;	
    border: none;	
 }
     
 .navbarProfilePhotoContainer{
    width: 30px;	
    height: 30px;	
    border-radius: 100%;	
    overflow: hidden
 }
 
 
 .navbarProfilePhoto{
    width: 100%;
    height: auto;
 }
     
 
.createYOurPlayerConatainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.createYourPlayerWrapper{
    width:1000px;
    justify-content: center;
}

.createYourPlayerTopOfPageWrapper{
    display: flex;
    height: 334px;
    ;
}

.createYourPlayerPs4XboxWrapper{
    width: 500px;
}

.crieSeuJogador{
    margin-top: 30px;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.preenchaOsDadosCrieJogador{
    font-size: 18px;
    margin-bottom: 30px;
}

.createYourPlayerSubtitleAndIconContainer{
    display: flex;
    align-items: center;
}

.subtitle{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
}

.plataformaContainer{
    display: flex;
    margin-top: 15px;
}

.plataformaPs4Wrapper{
    width: 184px;
    height: 70px;
    border: 4px solid #003791;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.createYourPlayerPS4Logo{
    width: 120px;
}

.plataformaXboxWrapper{
    width: 184px;
    height: 70px;
    border: 4px solid #107C11;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createYourPlayerXBOXLogo{
    width: 120px;
}

.createYourPlayerPS4XboxLabel{
    display: flex;
    justify-content: space-around;
    width: 388px;
}

.createYouPlayerTopImageWrapper{
    width: 500px;
}

.createYouPlayerTopImage{
    width: 634px;
    margin-top: 20px;
}

.dadosDoJogadorLabel{
    margin-top: 30px;
}

.seuNomeNaPlataformaInput{
    width: 660px;

}

.createYourPlayerPSNinputWrapper{
    display: flex;
    justify-content: space-between;
    width: 660px;
    margin-top: 30px;
}

.PSNinput{
    width:320px;
}

.jogaEmAlgumaEquipe{
    margin-top: 30px;
}

.createYourPlayerSelect{
    width: 660px;
}

#selecioneEquipeInput{
    margin-bottom: 30px;
}

.subtitleDescriprion{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* RADIO BUTTONS STYLE START ----------------------------------------------------*/

.crateYourPlayerRadioButttonsContainer{
    width: 1000px;
    height:  650px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(9, 70px);
    justify-content: center;
    grid-column-gap: 150px; 
    grid-template-areas: ". goleiro ."
                         "lateralE . lateralD"
                         "zagueiroE zagueiroC zagueiroD"
                         ". volante ."
                         ".  meiaAtacante ."
                         "meiaE meiaC meiaD"
                         ". segundoAtacante ."
                         ".   centroAvante ."
                         "pontaE . pontaD";
}

.inputRadio{
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
}

.radioButtonsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

#goleiro{
    grid-area: goleiro;
    height: 70px;
    width:203px;
}

.invalidFeedBackMarginCorrection{
    margin-top: 0;
}

#lateralDireito{
    grid-area: lateralD;
}

#lateralEsquerdo{
    grid-area: lateralE;
}

#zagueiroEsquerdo{
    grid-area: zagueiroE;
}

#zagueiroCentral{
    grid-area: zagueiroC;
}

#zagueiroDireito{
    grid-area: zagueiroD;
}

#volante{
    grid-area: volante;
}

#meiaAtacante{
    grid-area: meiaAtacante;
}

#meiaEsquerda{
    grid-area: meiaE;
}

#meiaCentral{
    grid-area: meiaC;
}

#meiaDireita{
    grid-area: meiaD
}

#segundoAtacante{
    grid-area: segundoAtacante;
}

#centroAvante{
    grid-area: centroAvante;
}

#pontaEsquerda{
    grid-area: pontaE;
}

#pontaDireita{
    grid-area: pontaD;
}

/* RADIO BUTTONS STYLE END----------------------------------------------------*/

#mesmoNomeTodasPlataformas{
    margin-right: 10px;
}

.mesmoEmTodasPlataformasCheckBoxWrapper{
    margin-bottom: 30px;
}

.createYourPlayerCamisaInfoInputsWrapper{
    display: flex; 
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.numeroCamisaInput{
    width:320px;
}

.nomeCamisaInput{
    width:660px;
}

.createYourPlayerButtonsContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.createYourPlayerLimparDadosButton{
    width: 265px;
    height: 48px;
    color: white;
    background: #525252;
    border: none;
}

.createYourPlayerCriarJogadorButton{
    width: 320px;
    height: 48px;
    color: white;
    background: #1DA775;
    border: none;
}

.createYourPlayerCriarJogadorButton:disabled{
    opacity: 0.3;
}

.white{
    color: white;
}
.white:hover{
    color: white;
    text-decoration: underline;
}
/* PÁGINA WELCOMEPAGE --------------------------------------------------------------------------------------------*/

.welcomePageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.welcomePageWrapper{
    width: 1000px;
}

.bemVindoAoGlobal{
    font-size: 36px;
    font-weight: 600;
    margin: 30px 0;
}

.enviamosUmEmail{
    width: 900px;
    font-size: 24px;
    line-height: 30px;
}

.confiraSeuPerfil{
    font-size: 18px;
    margin-top: 40px;
}

.welcomePageProfileContainer{
    height: 440px;
    border: 1px solid #C4C4C4;
    margin-bottom: 40px;
}

.mainProfileInfos{
    height: 210px;
    display: flex;
  
}

.welcomePageProfilePhotoContainer{
    width: 210px;
    height: 210px;
    overflow: hidden;
}

.WelcomePageProfilePhoto{
    height: 210px;

}

.welcomePageProfileInfosContainer{
    width: 75%;
    padding: 20px;
    font-size: 18px;
    padding-left: 30px;
    line-height: 30px;
}

.welcomePageProfileInfosContainer p{
    display: flex;
}

.welcomePageProfileInfosContainer p img{
    margin-right: 15px;
}

.welcomePageProfileName{
    font-size: 30px;
    font-weight: 500;
    width:700px;
    
}

.welcomePageProfileFirstInfosContainer{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.welcomePageProfileAdressContainer{
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    font-size: 18px;
    padding: 30px;
    line-height: 14px;
    height: 135px;
}

.welcomePageProfileSocialNetworksContainer{
    height: 95px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.socialNetworksRoundGreenContainers{
    width: 48px;
    height: 48px;

    border-radius: 50%;
    background: #1DA775;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.welcomePageSociaNetworkIcon{
    height: 35px;
}